@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./mixins";
@import "./NavBar.scss";
@import "./Footer.scss";
@import "./Hero.scss";
@import "./OurSponsor.scss";
@import "./Conferences.scss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  &--sb {
    justify-content: space-between;
  }
  &--aic {
    align-items: center;
  }
}
