@import "./mixins";

.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("../public/herobg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  // overflow: hidden;
  @include break(xsmall) {
    background-image: url("../public/mesh\ gradient.png");
  }

  &__content {
    padding-top: 150px;
    padding-bottom: 240px;
    @include break(xsmall) {
      padding: 10px;
      padding-top: 110px;
    }
  }
  &__text {
    width: 60%;
    @include break(xsmall) {
      width: 80%;
    }
    h1 {
      font-size: 110px;
      font-weight: 700;
      color: #111d5e;
      text-align: end;
      margin: 0;
      @include break(xsmall) {
        font-size: 40px;
      }
    }
  }

  &__img {
    &--one {
      position: absolute;
      top: 120px;
      left: 444px;
      @include break(xsmall) {
        width: 52px;
        height: 56px;
        top: 90px;
        left: 122px;
      }
    }
    &--two {
      width: 50%;
      position: absolute;
      top: 165px;
      left: 581px;
      z-index: -11;
      @include break(xsmall) {
        display: none;
      }
    }
    &--two-m {
      display: none;
      @include break(xsmall) {
        display: block;
        position: absolute;
        top: 101px;
        left: -12px;
        z-index: -11;
      }
    }
    &--five {
      position: absolute;
      bottom: 285px;
      right: 396px;
      z-index: 11;
      @include break(xsmall) {
        bottom: 385px;
        right: 6px;
        z-index: 11;
      }
    }
    &--six {
      position: absolute;
      bottom: 157px;
      left: 249px;
      z-index: -11;
      @include break(xsmall) {
        position: absolute;
        bottom: -53px;
        left: 274px;
        z-index: -11;
        overflow: hidden;
      }
    }
  }

  .hero3 {
    width: 410px !important;
    height: 448px !important;
    margin-top: -128px;
    object-fit: contain;
    @include break(xsmall) {
      width: 100%;
      height: 100%;
      margin-top: 0px;
    }
  }

  .hero4 {
    width: 329px;
    height: 420px;
    @include break(xsmall) {
      width: 157px;
      height: 200px;
    }
  }

  &__buyticket {
    border: none;
    border-radius: 30px;
    background-color: #ffc93e;
    padding: 10px 50px;
    margin-top: 30px;
    @include break(xsmall) {
      display: block;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
